السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ

Dengan memohon rahmat Allah SWT,
izinkan kami untuk mengundang Bapak/Ibu/Saudara/i

*{{{ name }}}*

untuk hadir dalam acara akad dan resepsi pernikahan kami,
*_LEARNWITHGHANIY_*

Yang akan dilaksanakan pada:

Hari, Tanggal: -
Akad Nikah: - 
Resepsi: -
Tempat: -

*Undangan dapat diakses melalui:*
{{{ link }}}

Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila Bapak/Ibu/Saudara/i berkenan untuk hadir dan memberikan doa restu.

Demikianlah undangan ini kami sampaikan, kami ucapkan terima kasih.

وَ السَّلاَمُ عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ

Hormat kami,
_Learn With Ghaniy_

---
Peta Lokasi: https://maps.app.goo.gl/YeuteziPudepcApp8